.signInForm {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  justify-content: center;
}

.sign-in_background {
  background-image: url("../../assets/signinbg.svg");
}

.sign-in_container {
  height: 100vh;
}
